body{
background-color: rgb(255, 208, 0);
color: black;

 font-family: fantasy;
 margin: 0px;

}

header{
    font-size: 50px;
    text-align: center;
    border-bottom: dashed 5px blue;
    padding: 30px;
    color: rgb(12, 11, 9);
}

h1{
    font-size: 30px ;
    padding-left: 30px;
}
p{
    font-size: 20px;
    padding-left: 30px;
}


section{
background-color: rgb(131, 37, 131);
   padding-bottom: 80px;
   padding-top: 80px;
   display:flex ;
   justify-content: center;
}

.chamada-texto{
    margin-right:10% ;
}

img{
width: 300px;
height:200px ;
}